<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PicRaffle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89A06FC51F7C43A7000B0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89A06FDE1F7C43A7000B0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89A06FE91F7C43A7000B0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
